/* Reset CSS */
@import url("reset.css");

/* Folha de Estilo NutrIF */
@font-face {
    font-family: "fonte1";
    src: url("../fonts/fonte1.woff");
}
@font-face {
    font-family: "fonte2";
    src: url("../fonts/fonte2.woff");
}
@font-face {
    font-family: "fonte3";
    src: url("../fonts/fonte3.woff");
}
@font-face {
    font-family: "fonte4";
    src: url("../fonts/fonte4.woff");
}

*{
    margin: 0 auto;
    padding: 0;
}
.clear{
    clear: both;
}
.container{
    padding: 5px 0 60px;
    margin: auto;
    width: 920px;
    min-width: 920px;
    position: relative;
}

.container form label{
    display: block;
    margin: 100px;
}

b{
    color: rgb(55, 55, 55);
    font-family: fonte4, sans-serif;
}
a{
    text-decoration: none;
}
#top{
    border-top: 4px solid rgb(126, 186, 0);
    height: 80px;
}
#top .container{
    padding: 0px 20px;
}
#top #logo{
    float: left;
    padding-top: 10px;
    display: block;
    width: 200px;
    height: 50px; 
}
#top #logo img{
    float: left;
    display: block;
    width: 125px;
    height: 60px;
}
#top #menu{
    position: absolute;
    margin-left: 200px;
    top: calc(50% - 12px);
}
#top #menu li{
    list-style: none;
    display: inline;
    float: left;
}


#top #menu li a{
    float: right;
    border-radius: 3px 3px 3px 3px;
    display: block;
    padding: 5px 5px 5px 5px;
    margin: -13px 15px 10px 5px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-size: 10px;
    font-family: "arial black", sans-serif;
}
#top #menu li a:hover{
    background: rgb(126, 186, 0);
    color: #fff;
}
#banner{
    position: relative;
    min-height: 400px;
    height: 30%;
    overflow: hidden;
    min-width: 920px;
}
#banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

.slider {
	padding:0;
}

#banner .container{
    min-height: 400px;
    height: 30%;
    overflow: hidden;
}
#banner #bcenter{
    position: absolute;
    width: 900px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 450px);
}
#banner #bleft{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    text-shadow: 1px 1px 1px #000;
}
#banner #bleft #always, #globally, #and, #bleft h4{
    text-transform: uppercase;
    color: #fff;
}
#banner #always{
    font-family: fonte3, sans-serif;
}
#banner #globally{
    font-family: fonte4, sans-serif;
    font-size: 55px;
    margin-top: -15px;
}
#banner #and{
    font-family: fonte3, sans-serif;
    margin-top: -15px;
    padding: 10px 0;
}
#banner #bleft h4{
    font-family: fonte3, sans-serif;
    font-size: 12px;
    padding-bottom: 30px;
}
#banner #links{
    margin: 0 auto;
    width: 300px;
}
#banner #bleft #read, #bleft #or, #bleft #mail{
    display: block;
    float: left;
    margin-left: 10px;
    text-transform: uppercase;
}
#banner #read, #banner #mail{
    box-shadow: inset 0 0 5px 1px #888;
    padding: 10px  15px 10px 35px;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
}
#banner #read{
    background-image: linear-gradient(to bottom, rgb(2, 162, 214), rgb(1, 134, 177));
    color: #fff;
}
#banner #mail{
    background-image: linear-gradient(to bottom, rgb(245, 245, 245), rgb(234, 234, 234));
    color: #000;
    text-shadow: 1px 1px 1px #fff;
}
#banner #or{
    padding-top: 7px;
    font-family: fonte3, sans-serif;
}
#banner #bright{
    float: right;
    height: 300px;
    width: 50%;
    display: block;
}
#content{
    background-color: rgb(244, 244, 244);
}
#content h2{
    color: rgb(49, 49, 49);
}
#trust{
    text-align: center;
    padding-top: 30px;
    width: 600px;
}
#trust h3{
    padding: 20px 0;
    color: rgb(35, 53, 53);
    font-family: fonte4, sans-serif;
}
#trust p{
    color: rgb(102, 102, 102);
    font-family: fonte2, sans-serif;
}
#features{
    position: relative;
    padding: 50px 0;
}
#features .feature{
    float: left;
    padding: 0 10px;
    width: calc(25% - 20px);
    text-align: center;
}
#features .feature h3{
    padding: 10px 0;
    color: rgb(49, 49, 49);
    font-family: fonte4, sans-serif;
    font-family: fonte2, sans-serif;
}
#features .feature p{
    color: rgb(108, 108, 108);
}
#video{
    padding-bottom: 30px;
}
#video h2, #clients h2{
    padding: 10px;
    font-family: fonte3, sans-serif;
}
#video #vleft{
    width: 40%;
    float: left;
}
#video #vright{
    float: right;
    padding: 0 10px 0 30px;
    width: calc(60% - 40px);
}
#video .vfeature{
    padding-bottom: 20px;
}
#video .vfeature h4{
    padding-bottom: 10px;
    color: rgb(55, 55, 55);
    font-family: fonte4, sans-serif;
    font-size: 15px;
}
#video .vfeature p{
    color: rgb(107, 107, 107);
    font-family: fonte2, sans-serif;
    font-size: 14px;
}
#clients{
    padding-bottom: 50px;
}
#footer{
    background: rgb(17, 17, 17);
    width: auto;
    color: #fff;
}
#footer #fmenu{
    text-align: center;
    list-style: none;
    width: auto;
    padding: 40px 0 20px;
}
#footer #fmenu li{
    display: inline;
    margin: 0 10px;
}
#footer #fmenu li a{
    color: #fff;
    font-family: fonte4, sans-serif;
    font-size: 14px;
}
#footer #fmenu li a:hover{
    color: rgb(126, 186, 0);
}
#socials{
    padding: 20px 0;
}
#socials .social{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    font-family: fonte4, sans-serif;
    font-size: 14px;
}
#socials .social a{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#credits{
    border-top: 1px solid rgb(30, 30, 30);
    text-align: center;
    padding: 30px 0 10px;
    margin-top: 20px;
    font-family: fonte3, sans-serif;
}
#credits a{
    color: #fff;
}
#credits a:hover{
    text-decoration: underline;
}
#content form label{
    display:block;
    margin: 6px;
}

.inside{
    margin: 10px;
    padding: 10px;
}

.inside p{
    font-size: 1.2em;
    margin: 10px;
}

input[type="submit"], input[type="reset"]{
    background-color: rgb(126, 186, 0);
    color: white;
    border:0;
    padding:10px;
    margin: 5px;
    float:left;
    opacity:0.80;
    -moz-opacity: 0.80;
    filter: alpha(opacity=80);
}

input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: rgb(128,128,128);
    opacity:0.80;
    -moz-opacity: 0.80;
    filter: alpha(opacity=80);
}

input[type="text"], [type="password"]{
    outline: none;
    -webkit-appearance: none;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    box-shadow: #fff;
    -webkit-box-shadow: #fff;
    -moz-box-shadow: #fff;
    margin: 0 0 0px 0;
    border: 1px solid #D0D0D0;
    padding: 3px 3px 3px 3px;
    border-radius: 3px;
}

select{
    border-radius: 3px;
    border: 1px solid #D0D0D0;
}



textarea{
    border: 1px solid #000000;
    background:#cccccc;
    width:150px;
    height:100px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;	
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}

input[type="radio"]{
    margin: 0 5px 0 0;
}

input[type="radio"]:hover{
    margin: 0 10px 0 0;
}

#letras h1{
    color: rgb(126, 186, 0);
    font-family: Arial, Verdana, fonte3;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#centralizares{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#centralizar{
    float: center;
    width: 920px;
    position: relative;
    text-align: center;
}

#centralizar input[type=submit]{
    float: center;
}

#centralizar input[type=reset]{
    float: center;
}

#centralizar li{
    float: center;
    width: 920px;
    position: relative;
    font-family: Arial,Verdana;
    text-align: center;
}

#centralizar img{
    padding: 3px 3px 3px 3px;
}

.select{
    background-color:rgb(224,224,224);
    outline: #c0c0c0;
    -webkit-appearance: none;
    border-collapse:inherit;
    -moz-border-radius:inherit;
    -webkit-border-radius:inherit;
    box-shadow: #fff;
    -webkit-box-shadow: #fff;
    -moz-box-shadow: #fff;
    border: 1px solid #D0D0D0;
}

.normal{
    background-color: #fff;
}

.caixa_azul {
    /*width: 580px;*/
    text-align: center;
    margin:5px 10px 5px 20px;
    border-left:3px solid rgb(126, 186, 0);
    border-right:3px solid rgb(126, 186, 0);
    padding:5px 5px 5px 5px;
    background: rgb(230,232,250);
    color: #000;
    position: relative;
    font-family: Arial Black,Verdana;
    width: 920px;
    min-width: 920px;
}

.caixa_login {
    border-bottom: 3px solid rgb(126, 186, 0);
    padding:5px 5px 5px 5px;
    background: rgb(230,232,250);
    color: #000;
    font-family: Arial Black,Verdana;
    font-size: small;
    color: black;
    text-align: center;
}

#quest {
    
    width: 1000px;
    font-family: Arial Black,Verdana;
    color: #000;

}


table, td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #000;
}

th{
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: rgb(126, 186, 0);

}

caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

td, th {
	padding: 4px;
}

thead th {
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	font-size: 100% !important;
}

tbody th {
	font-weight: bold;
}

tbody tr { background: #FCFDFE; }

tbody tr.odd { background: #F7F9FC; }

tfoot th, tfoot td {
	font-size: 85%;
}

div.login div{
    display: inline;
}

div.flutuar{
    float:left;

}

div.login_senha{
     margin-left:-150px;

}
div.login_entrar{
    position: absolute;
    top:-10px;
    left:650px;

}

div.login label{
    display: inline;
}

div.caixa_erro{
    float:center;
    text-align:center;
    border: 1px solid red;
   background-color: #ffebe8;
       
}

